[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Disc
Name[am]=የ ፋይል አስተዳዳሪ
Name[ar]=مدير الملفات
Name[ast]=Xestor de Ficheros
Name[bg]=Файлов мениджър
Name[bn]=ফাইল ম্যানেজার
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[da]=Filhåndtering
Name[de]=Dateimanager
Name[el]=Διαχειριστής αρχείων
Name[en_GB]=Disc
Name[es]=Administrador de archivos
Name[et]=Failihaldur
Name[eu]=Fitxategi kudeatzailea
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[gl]=Xestor de ficheiros
Name[he]=מנהל קבצים
Name[hr]=Upravitelj datoteka
Name[hu]=Fájlkezelő
Name[id]=Manajer Berkas
Name[it]=Gestore dei file
Name[ja]=ファイルマネージャー
Name[kk]=Файлдар басқарушысы
Name[ko]=파일 관리자
Name[lt]=Failų tvarkyklė
Name[lv]=Faila pārvaldnieks
Name[nb]=Filbehandler
Name[nl]=Bestandbeheerder
Name[nn]=Filhandsamar
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików
Name[pt]=Gestor de Ficheiros da Sessão
Name[pt_BR]=Gerenciador de Arquivos da Sessão
Name[ro]=Manager de fișiere
Name[ru]=Disc
Name[sk]=Správca súborov
Name[sr]=Управник датотека
Name[sv]=Filhanterare
Name[tr]=Dosya Yöneticisi
Name[ug]=ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер
Name[zh_CN]=文件管理器
Name[zh_TW]=檔案管理員	
Comment=File Manager
Comment[pt]=Abre o gestor de ficheiros predefinido da sessão
Comment[pt_BR]=Abre o gerenciador de arquivos padrão da sessão
Icon=media-optical
Categories=Settings;
Exec=desktop-defaults-run -fm /media/sr0
Terminal=false
NoDisplay=True
